.date-row {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

.search-row {
  display: flex;
  justify-content: center;
}

.current-weather {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}
