h2 {
  font-size: 2rem;
  text-align: center;
}
.day-temperature {
  display: flex;
  justify-content: space-between;
}
.units-cf {
  font-size: 1.8rem;
}
.f,
.c {
  background-color: white;
  border-style: none;
  color: grey;
  font-size: 0.8rem;
}

.f:hover,
.c:hover {
  cursor: pointer;
}
.minT {
  color: rgb(97, 8, 148);
}
.maxT {
  color: rgb(216, 112, 147);
}
